@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Urbanist;
    src: url('/urbanist-regular.ttf');
}

@font-face {
    font-family: Urbanist;
    src: url('/urbanist-italic.ttf');
    font-style: italic;
}

html, body {
    font-family: Urbanist;
}
